.background {
    background-image: url('../../Assets/background.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh; 
    overflow: hidden; 
    width: 100%;
}

.conteudo {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: relative;
}

.info {
    display: flex;
    flex-direction: row;
    align-items: center;
}

input {
    border: 1px solid #999999;
    background: transparent;
    font-size: 18px;
    padding: 10px;
    border-radius: 22px;
    min-width: 250px;
    margin-right: 12px;
    width: 80%;
    margin-left: 20px;
    color: #ffffff;
}

button {
    border: 1px solid #999999;
    border-radius: 12px;
    background: #2d333b;
    font-size: 18px;
    padding: 10px;
    border-radius: 22px;
    margin-right: 12px;
    color: #ffffff;
}

.perfil div {
    margin-left: 20px
}

.perfil {
    display: flex; 
    align-items: center;
    margin: 40px 12px;
}

.profile {
    width: 120px; 
    height: 120px; 
    border-radius: 50%; 
    object-fit: cover; 
    border: 2px solid #a69de4; 
}

.perfil h3 {
    color: #ffffff;
    font-size: 24px;
}

.perfil span {
    display: block;
    color: #D3D3D3;
    font-size: 16px;
}


.perfil p {
    font-size: 16px;
    margin-top: 20px;
    color: #D3D3D3;
}

.repositorio {
    font-size: 42px;
    color: #FFFFFF ;
    margin: 12px ;
    text-align: center;
}